/* Jonah Aney 06/08/2025 CSD-340 Module 3.2: GitHub Pages */

#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
h1, h2, h3, h4 {
/* Dark blue background */
    background-color: #003366;   
/* White text for contrast */    
    color: #ffffff;  
/* Cyan border for headers */               
    border: 1px solid #00b6d6;      
    padding: 10px;
}

a {
/* Orange color for links */
    color: #ff7b00;                 
    text-decoration: none;
}

a:hover {
/* Blue on hover */
    color: #0026ff;                 
}

a:visited {
/* Burnt Orange for visited links */
    color: #964503;                 
}
        